<%- include("partials/header.ejs") %>

<body>
  <main class="container">


  <% posts.forEach((post) => { %>
   
      <div class="single-post"> 
        <h2><%= post.title %></h2>
        <p> <%= post.message  %>  </p>
        <h4> <%= post.author %> </h4>
        <a class="edit-button" href="/edit/<%= post.id %>"> Edit</a>
        <a href="/delete/<%= post.id %>"> Delete</a>
      </div> 
        <br>
     <% });  %> 
   
   <div class="pagination">
    <% for(let i = 1; i <= totalPages; i++) { %>
      <a href="/posts?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
    <% } %>

   </div>
    </main>

</body>

<%- include("partials/footer.ejs") %>