<%- include("partials/header.ejs") %>




<h2>blog entry</h2>
<div style="border: 2px solid powderblue">

<% if (locals.message && locals.author) { %>
    <h2>
      <%= message %>
    </h2>
    <h3> <%= author %> </h3>
 <% } else { %>
    <h1>
      No entry
    </h1>
<% } %>
<div>
  <ul>
 

  <% posts.forEach((post) => { %>
    
    <li> 
      <h2><%= post.title %></h2>
      <p> <%= post.message  %>  </p>
      <h4> <%= post.author %> </h4>
      <a href="/edit/<%= post.id %>"> Edit</a>
      <a href="/delete/<%= post.id %>"> Delete</a>
      </li> 
   <% });  %> 
  </ul>
</div>



</div>

<%- include("partials/footer.ejs") %>